name: (all packages) Docker Test Env tests
on:
  pull_request_review:
    types: [submitted]
  pull_request:
    types: [labeled]
    paths-ignore:
      - 'tools/**'

jobs:
  eth_env:
    if: ${{ github.event_name == 'pull_request_review' || github.event.label.name == 'docker_tests' }}
    runs-on: ubuntu-latest
    name: Docker Test ${{ matrix.test.name }}
    strategy:
      fail-fast: false
      matrix:
        test:
          - name: eth_env
            tests: TestEthEnv
          - name: eth_clients
            tests: TestBesu|TestGeth|TestNethermind|TestErigon
          - name: other
            tests: TestPostgres|TestMockServer|TestKillgrave
    steps:
      - name: Checkout the Repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Install Go
        uses: smartcontractkit/.github/actions/setup-golang@setup-golang/1.1.1
        with:
          # test_download_vendor_packages_command: cd lib && go mod download
          go-version-file: ./lib/go.mod
          use-go-cache: "true"
      - name: Install gotestloghelper
        working-directory: lib
        run: make gotestloghelper_build
      - name: Run Tests
        working-directory: lib
        run: |
          PATH=$PATH:$(go env GOPATH)/bin
          export PATH
          set -euo pipefail
          # disabled, because we want to use a multiline output of go list command
          # shellcheck disable=SC2046
          go test -timeout 20m -json -parallel 2 -cover -covermode=atomic -coverprofile=unit-test-coverage.out $(go list ./... | grep /docker/test_env) -run '${{ matrix.test.tests }}' 2>&1 | tee /tmp/gotest.log | ../gotestloghelper -ci
      - name: Publish Artifacts
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: test-logs
          path: ./lib/logs
