name: GH Pages Deploy (Docs, mdbook)


on:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0  # Fetch all history for all tags

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: '0.4.40'

      - name: Install Pre-processors
        run: |
          cargo install mdbook-alerts
          cargo install mdbook-cmdrun

      - name: Build
        working-directory: book
        run: |
          mdbook build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: book