name: Main branch breaking changes check

on:
  push:
    branches:
      - main

jobs:
  breaking-changes:
    name: Check "main" for breaking changes before release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24.0'
      - name: Install gorelease tool
        run: |
          go install golang.org/x/exp/cmd/gorelease@latest
      - name: Run Breaking Changes Script
        run: |
          cd ./tools/breakingchanges
          go mod tidy
          go run cmd/main.go --ignore tools --root ../../
