name: Unit tests (Makefile)
on:
  push:
    tags:
      - v*
  pull_request:
jobs:
  unit:
    strategy:
      fail-fast: false
      matrix:
        project:
          - name: lib
            path: ./lib/
          - name: flakeguard
            path: ./tools/flakeguard/            
    runs-on: ubuntu-latest
    name: ${{ matrix.project.name }} unit tests
    steps:
      - name: Checkout the Repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: ${{ matrix.project.path }}/go.mod
      - name: Install gotestloghelper
        run: go install github.com/smartcontractkit/chainlink-testing-framework/tools/gotestloghelper@latest
      - name: Run Tests
        run: |
          PATH=$PATH:$(go env GOPATH)/bin
          export PATH
          set -euo pipefail
          # disabled, because we want to use a multiline output of go list command
          # shellcheck disable=SC2046
          cd ${{ matrix.project.path }} && \
            make test_unit
      - name: Publish Artifacts
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-logs
          path: /tmp/gotest.log
