name: Gomods Tidy
on:
  push:
jobs:
  clean-go-mods:
    name: Clean go mods
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          # we run it across all the packages, use framework go.mod as an example
          go-version-file: ./framework/go.mod
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          just-version: '1.39.0'
      - name: Run gomods tidy
        run: just gomods-tidy-ci
